{% extends 'base.html' %}
{% load static %}

{%block customcss%}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
{%endblock customcss%}
{% block content %}

<form class="form-signin" method="POST" action="">{%csrf_token%}
    <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
    {%if error%}
    {{error}}
    {%endif%}
    <label for="inputEmail" class="sr-only">Username</label>
    <input type="text" id="inputEmail" class="form-control" name="username" placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
    <a href="{%url 'login'%}">ログイン</a>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2023</p>
</form>
{%endblock content%}